.container{
	width:90% !important;
}
.selected {
	background-color: #cfe4ff;
    color: #0064a7;
    border-style: solid;
    border-width: 1px;
    border-color: #2781f5 !important;
    font-weight: bold;
}
.selector {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loaderSmall {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 18px;
  height: 18px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.typeahead, .tt-query, .tt-hint { width:100% !important; }
.twitter-typeahead, .tt-hint, .tt-input, .tt-menu { width: 100% !important; }
#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}

/* The heart of the matter */
.testimonial-group > .row {
  overflow-x: auto !important;
  white-space: nowrap !important;
}
.testimonial-group > .row > .col-xs-4 {
  display: inline-block !important;
  float: none !important;
  width:400px;
}
.col-xs-4 {
  border-style:solid;
  border-width:1px;
  border-color:#999;
  cursor:pointer;
}
.chevron {
  display: inline-block;
  position: absolute;
  padding-top: 150px;
  z-index: 99;
  background-color: #ccc;
  height: 100%;
  cursor:pointer;
}
