.home {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.full-width {
  width: 100%;
}
.home-row {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.center {
  justify-content: center;
  display: flex;
  width: 100%;
}
.home-left {
  padding-left: 24px;
}
.home-right {
  padding-right: 24px;
}
.actor {
  height: 320px;
}
.error {
  color: red;
}