.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 12px;
  align-items: center;
}
.header-logo {
  padding-left: 12px;
}
.header-cell {
  padding-left: 48px;
}
.main-logo {
  width: 142px;
}